<template name = "navbar"> 
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="{{pathFor 'posts'}}">Posts</a></li>
        <li role="presentation"><a href="{{pathFor 'about'}}">About</a></li>
        <li role="presentation"><a href="sign-in">Sign in</a></li>
        <li role="presentation"><a href="{{pathFor 'profile'}}">Edit profile</a></li>
      </ul>
      <h3 class="text-muted"><a href="{{pathFor 'posts'}}">Microposts</a></h3>
    </nav>
  </div>
</div> 
</template> 
